/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}








/* ================================================================================================================= */

/* AMS 360 GREEN: #006635 */

body{
  text-align: center;
  font-family: 'source-sans-pro', sans-serif;
}

a.navbar-brand{
  padding: 0;
  margin: 60px 0 0;
}

.logo{
  width: 250px;
}

nav ul, nav ul .co-branding-link, h1, h2, section.info, section.images img, section.imageHeader img, section.video, footer #socialMedia, footer p{
  width: 60%;
}

h3{
  width: calc(60% + 30px);
}



  /**************/
 /* NAVIGATION */
/**************/

nav.navbar{
  background-color: black;
  margin-top: 45px;
  padding: 0;
}

nav ul{
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

nav.navbar-expand-lg ul.navbar-nav a.nav-link{
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 20px;
  padding: 15px 0 15px;
  z-index: 10000;
}

nav ul a li:hover{
  color: #006635;
}

nav ul .co-branding-link{
  position: absolute;
  text-align: right;
  z-index: 1;
}

.co-branding{
  width: 150px;
}

#co-branding-mobile{
  display: none;
}

button.navbar-toggler{
  padding: 15px;
  margin: 0 auto;
  border: none;
  align-items: center;
}

span.navbar-toggler-icon:hover{
  color: #006635;
}

span.navbar-toggler-icon{
  color: white;
  font-size: 3em;
  line-height: 25px;
  height: 36px;
}



  /***********/
 /* HEADERS */
/***********/

header{
  background-color: #006635;
}

h1, h2, h3{
  color: white;
  font-family: 'bebas-neue-by-fontfabric', sans-serif;
  font-size: 4em;
  line-height: 35px;
  margin: 0 auto;
  padding: 35px 0 25px;
  text-align: left;
  text-transform: uppercase;
}

h2{
  font-size: 4rem;
  line-height: 65px;
  padding: 0;
}

h3{
  background-color: black;
  font-size: 1.5em;
  padding: 10px 15px 5px;
}

h3.green{
  background-color: #006635;
}

a h3:hover{
  color: #006635;
}

a h3.green:hover{
  color: black;
}



  /***********/
 /* CONTENT */
/***********/

section p{
  text-align: left;
  margin-bottom: 0;
}

section.info{
  font-size: 1.2em;
  margin: 30px auto 45px;
  padding: 0;
}

section.info.list{
  margin: 15px auto 30px;
}

section.info.list{
  margin: 15px auto 45px;
}

section.info.team{
  margin-top: 45px;
}

section.info.team div.teamIMG{
  display: inline-block;
  float: left;
  margin-right: 30px;
  width: calc(30%);
}

section.info.team div.teamIMG div{
  background-color: #006635;
  padding: 7.5%;
}

section.info.team div.teamIMG div img{
  width: 100%;
  border: 1px solid white;
  border-radius: 50%;
}

section.info.team h3{
  margin: 0;
  width: 100%;
  padding-bottom: 0;
}

section.info.team div.teamIMG p{
  line-height: 20px;
  background-color: black;
  color: white;
  padding: 0 15px 15px;
}

section p.spacer{
  margin-bottom: 10px;
}

section p a{
  color: #006635;
  text-decoration: none;
}

section.images, section.imageHeader{
  width: 100%;
}

section.images img{
  border-top: 15px solid #006635;
}

section.imageHeader img{
  border-top: none;
  margin: 25px 0 45px;
}

section.video{
  margin: 0 auto;
}

section.video video{
  margin: 0 auto;
  width: 100%;
}

section.video iframe{
  margin: 0 auto;
  width: 100%;
  height: 550px;
}



  /*********/
 /* EMAIL */
/*********/

form table{
  margin: 0 auto;
}

form label{
  text-align: left;
  float: left;
  padding-right: 30px;
}

form input, form textarea{
  width: 300px;
  margin-bottom: 30px;
}

form input[type=submit]{
  width: 100px;
  margin-bottom: 30px;
}

p.mailError{
  color: red;
}

p.mailSuccess{
  color: green;
}



  /**********/
 /* FOOTER */
/**********/

footer{
  background-color: black;
  clear: both;
  font-size: 1.2em;
  margin-top: 75px;
  padding: 30px 0 0;
  text-align: left;
}

footer #socialMedia{
  height: 45px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

footer #socialMedia a{
  display: inline-block;
  height: 45px;
  margin-right: 5px;
  width: 45px;
}

footer #socialMedia li{
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
}

li.facebook{
  background-image: url('../img/social/facebook.png');
}

li.facebook:hover{
  background-image: url('../img/social/facebookGreen.png');
}

li.instagram{
  background-image: url('../img/social/instagram.png');
}

li.instagram:hover{
  background-image: url('../img/social/instagramGreen.png');
}

li.linkedin{
  background-image: url('../img/social/linkedIn.png');
}

li.linkedin:hover{
  background-image: url('../img/social/linkedInGreen.png');
}

li.youtube{
  background-image: url('../img/social/youTube.png');
}

li.youtube:hover{
  background-image: url('../img/social/youTubeGreen.png');
}

footer p{
  color: white;
  margin: 0 auto;
  padding: 30px 0 45px;
}




  /******************/
 /* HELPER CLASSES */
/******************/

/* Hide visually and from screen readers*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}



  /*********************/
 /* RESPONSIVE STYLES */
/*********************/

@media only screen and (max-width: 1224px) {
  nav ul, nav ul .co-branding-link, h1, h2, section.info, section.images img, section.imageHeader img, section.video, footer #socialMedia, footer p{
    width: 70%;
  }

  h3{
    width: calc(70% + 30px);
  }
}

@media only screen and (max-width: 991px) {
  nav ul, nav ul .co-branding-link, h1, h2, section.info, section.images img, section.imageHeader img, section.video, footer #socialMedia, footer p{
    width: 80%;
  }

  h3{
    width: calc(80% + 30px);
  }

  nav.navbar{
    background-color: #006635;
  }

  nav ul .co-branding-link{
    display: none;
  }

  nav.navbar-expand-lg ul.navbar-nav a.nav-link{
    border-top: 5px solid black;
    padding: 15px 0;
    margin-right: 0;
    width: 100%;
  }

  nav.navbar-expand-lg ul.navbar-nav a.nav-link:first-of-type{
    border-top: none;
    margin-top: 0px;
  }

  nav.navbar-expand-lg ul.navbar-nav a.nav-link:last-of-type{
    margin-bottom: 0px;
  }

  #co-branding-mobile{
    display: block;
    background-color: black;
    padding: 20px 0;
  }

  nav ul a li:hover, span.navbar-toggler-icon:hover{
    color: black;
  }

  h1, h2{
    font-size: 2.75em;
  }

  h1{
    text-align: center;
    line-height: 35px;
    padding: 25px 0 15px;
  }

  h3{
    font-size: 1.35em;
    padding: 10px 10px 5px;
    line-height: 22px;
  }

  section.info{
    font-size: 1em;
    margin: 20px auto 35px;
  }

  section.info.list{
    margin: 10px auto 25px;
  }

  section.info.team div.teamIMG p{
    line-height: 20px;
    padding: 0 10px 10px;
  }

  footer{
    font-size: 1.05em;
    margin-top: 65px;
    padding: 20px 0 0;
  }

  footer h2{
    line-height: 40px;
  }

  footer #socialMedia li img{
    margin-right: 5px;
    width: 30px;
  }

  footer p{
    padding: 20px 0 35px;
  }
}

@media only screen and (max-width: 768px) {
  nav ul, nav ul .co-branding-link, h1, h2, section.info, section.images img, section.imageHeader img, section.video, section.team, footer #socialMedia, footer p{
    width: 90%;
  }

  h3{
    width: calc(90% + 20px);
  }

  .logo{
    width: 200px;
  }

  section.info.team div.teamIMG{
    display: block;
    float: none;
    margin-right: 0;
    width: 100%;
  }

  section.info.team>p{
    display: block;
    padding: 0;
    margin-top: 20px;
  }

  form label{
    padding-right: 0px;
    width: 100px;
  }

  form input, form textarea{
    width: 100%;
  }

  form input[type=submit]{
    width: 50%;
  }
}



  /****************/
 /* PRINT STYLES */
/****************/

/* Inlined to avoid the additional HTTP request: https://www.phpied.com/delay-loading-your-print-css/ */
@media print{
  *, *:before, *:after{
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited{
    text-decoration: underline;
  }

  a[href]:after{
    content: " (" attr(href) ")";
  }

  abbr[title]:after{
    content: " (" attr(title) ")";
  }

  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after{
    content: "";
  }

  pre{
    white-space: pre-wrap !important;
  }

  pre, blockquote{
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead{
    display: table-header-group;
  }

  tr, img{
    page-break-inside: avoid;
  }

  p, h2, h3{
    orphans: 3;
    widows: 3;
  }

  h2, h3{
    page-break-after: avoid;
  }
}
